body{
  background-image: url("images/mesh.jpg");
  font-family: 'Montserrat', sans-serif;
  padding:1% 5%;
}

h1{
  font-family: 'Mukta', sans-serif;
  font-size: 3.5rem;
  color: #434242;
}

h2{
  color:#222222;
  font-weight: bold;
}

h3{
  font-weight: 300;
}

p{
  line-height: 1.5;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-grow: 1;
}

.rules{
  background-color: #0A2647;
  color: #fff;
  opacity: .8;
  box-shadow: 2px 2px 2px 2px #0A2647;
  padding: 15px;
  border-radius: 25px
}

.human, .bot{
  background-color: #557153;
  color: #fff;
  opacity: .8;
  box-shadow: 2px 2px 2px 2px #557153;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}

.result-human, .result-bot{
  font-weight: bold;
}

.rock, .paper, .scissor{
  width: 30px;
  margin: 4px;
}

.button{
  margin-top: 5px;
  padding: 2px 4px;
}

.button:hover{
  background-color: #434242;
}

.reset-btn{
  margin: 5px;
  padding: 8px 15px;
  background-color: #D1512D;
  color: #fff;
}
.reset-btn:hover{
  background-color: #FD841F;
  color: #fff;
}
